---
const { label, path } = Astro.props;
const linkClass = 'h-full p-4';
---

<button
  class={`${path ? 'cursor-pointer' : ''} hover:bg-white/10  transition-colors ease-in-out relative group`}
  onclick=""
>
  {path && <a class={linkClass} href={path}>{label}</a>}
  {!path && <span class={linkClass}>{label}</span>}
  <slot/>
</button>
