---
import { Icon } from "astro-icon/components";
import MenuItemLink from "./MenuItemLink.astro";

const { label, submenuItems } = Astro.props;
---

<li class="relative">
  <!-- defined in navbar script -->
  <dropdown-button-container data-label={label}>
    <button
      class="cursor-pointer p-4 lg:p-6 pr-2 hover:bg-white/10 w-full"
      id=`dropdown-btn-${label}`
      aria-controls=`dropdown-list-${label}`
    >
      <div class="flex items-center gap-1">
        {label}
        <Icon
          name="mdi:chevron-down"
          id=`dropdown-icon-${label}`
          class="transition-all"
        />
      </div>
    </button>
  </dropdown-button-container>

  <div id={`dropdown-list-${label}`} class="hidden">
    <ul
      class="list-none transition-all lg:absolute lg:top-full shadow-2xl whitespace-nowrap left-0 rounded-b-lg lg:bg-sky-800"
    >
      {
        submenuItems.map((item) => (
          <MenuItemLink label={item.label} path={item.path} isDropdown />
        ))
      }
    </ul>
  </div>
</li>
